<div class="tabs">
    <input name="tabs" type="radio" id="tab-1" checked="checked" class="tab-input" />
    <label for="tab-1" class="tab-label">Discription</label>
    <div class="panel">
         
         <p>We welcome you to the world of limitless appliances that are ready to adore your home & workplace with their existence. Orient strives to make your 
            life simpler & luxurious with their state-of-the-art innovative electronics. Our home appliances are designed and engineered in accordance with the
            We welcome you to the world of limitless appliances that are ready to adore your home & workplace with their existence. Orient strives to make your 
            life simpler & luxurious with their state-of-the-art innovative electronics. Our home appliances are designed and engineered in accordance with the
             on-going trends and environment of Pakistan</p>
        
    </div>

    <input name="tabs" type="radio" id="tab-2" class="tab-input" />
    <label for="tab-2" class="tab-label">Additional information</label>
    <div class="panel">
         
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam non aut ea tempora cum consequatur, corrupti consectetur quasi at recusandae?</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit neque, obcaecati nulla tempore adipisci iure totam! Qui voluptatem iusto nobis.</p>
    </div>

    <input name="tabs" type="radio" id="tab-3" class="tab-input" />
    <label for="tab-3" class="tab-label">Reviews</label>
    <div class="panel">
        
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam cum, expedita sunt velit autem dolor fugit consequatur placeat voluptas quibusdam ducimus excepturi quia a distinctio! Nesciunt accusantium quaerat in laborum!</p>
    </div>
</div>