{% capture theme_settings_link %}<a href="/admin/themes/{{ theme.id }}/settings">{{ 'layout.footer.theme_settings' | t }}</a>{% endcapture %}

<footer class="site-footer small--text-center" role="contentinfo">
  <div class="wrapper">
    <div class="grid">
      <div class="grid-item large--one-quarter medium--one-third small--one-whole">
        <h5 class="footer-heading">Technology</h5>
        <ul class="footer-text">
          <li>Theware</li>
          <li>Kowteq</li>
          <li>Everyonic</li>
          <li>Codexive</li>
          <li>Tixonic</li>
        </ul>
      </div>
      <div class="grid-item large--one-quarter medium--one-third small--one-whole">
        <h5 class="footer-heading">Categories</h5>
        <ul class="footer-text">
          <li>Air conditioner</li>
          <li>Refrigerator</li>
          <li>LED TV</li>
          <li>Microwave Oven</li>
        </ul>
      </div>
      
      <div class="grid-item large--one-quarter medium--one-third small--one-whole">
        <h5 class="footer-heading">Newsletter</h5>
        <p class="footer-text">Subscribe to get dailu news & more gif</p>
        <div class="newsletter-input">
          <div class="newsletter-item">
          	<input class="footer-input" type="email">
          </div>
          
          <div class="newsletter-item">
          	<input class="footer-btn"type="button" value="subscribe">
          </div>
        </div>
      </div>
      
      <div class="grid-item large--one-quarter medium--one-third small--one-whole">
        <div class="social-items">
          <div>
          	<h5 class="footer-heading">Follow Us</h5>
          </div>
          <div class="social-icons">
            <div class="social-icon">
               <a class="icon-fallback-text" href="#" title="Shan Electronics Store on Facebook">
                 <i class="fab fa-facebook"></i>
                 <span class="fallback-text">Facebook</span>
               </a>
            </div>
            <div class="social-icon">
              <a class="icon-fallback-text" href="#" title="Shan Electronics Store on Twitter">
                 <i class="fab fa-twitter"></i>
                 <span class="fallback-text">Twitter</span>
               </a>
            </div>
            <div class="social-icon">
              <a class="icon-fallback-text" href="#" title="Shan Electronics Store on LinkedIn">
                 <i class="fab fa-linkedin"></i>
                 <span class="fallback-text">Linkedin</span>
               </a>
            </div>
            <div class="social-icon">
              <a class="icon-fallback-text" href="#" title="Shan Electronics Store on YouTube">
                 <i class="fab fa-youtube"></i>
                 <span class="fallback-text">Youtube</span>
               </a>
            </div>
          </div>
        </div>
      </div>
    </div>
   
 </div>

	<div class="legal-info">
      <p class="legal-info-text">Copyright <b>2021</b> Coastal Co Site design handcrafted by Brainx Technologies</p>
    </div>
</footer>
