<header role="navigation" data-section-id="{{ section.id }}" data-section-type="header-section">
  <div class="header-wrapper">

    <div class="navigation-bar small--hide">
      <div class="navigation-item"><a href="#">Products</a></div>
      <div class="navigation-item"><a href="#">Technology</a></div>
      <div class="navigation-item"><a href="#">About us</a></div>
      <div class="navigation-item"><a href="#">Blog</a></div>
      <div class="navigation-item"><a href="#">Support</a></div>
      <div class="navigation-item"><a href="#">Contact us</a></div>
    </div>
    <div class="mobile-nav small--show large--hide medium--hide">
      <div id="myLinks">
        <a href="#">Products</a>
        <a href="#">Technology</a>
        <a href="#">About us</a>
        <a href="#">Blog</a>
        <a href="#">Support</a>
        <a href="#">Contact us</a>
      </div>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div class="grid">

        <div class="header-items register-login grid-item large--two-fifths medium--one-whole small--one-whole">
          <div class="register">
            <a href="#">Register</a>
          </div>

          <div class="login">
            <input type="button" value="SIGN IN">
          </div>

        </div>
        <div class="header-items search-bar-cart grid-item large--three-fifths medium--one-whole small--one-whole">
        
            <div class="search-container">
              <input type="text">
              <input type="button" value="Search">
            </div>

          <div class="custom-cart">
            <span class="icon-fallback-text">
              <span class="icon icon-cart" aria-hidden="true"></span>
              <span class="fallback-text">Cart</span>
            </span>
          </div>
      </div> 
    </div>
  </div>
</header>